* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}


.container {
  max-width: 1280px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-semibold {
  font-weight: 600;
}
.poppins-regular {
  font-weight: 400;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header-img img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
  border-radius: 24px;
  padding: 14px 64px;
  color: #00252e;
  transition: background-color 0.4s;
}

.bg-fuksiy {
  background-color: #ff52c1;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
  color: #ffffff;
}

.btn-green:hover {
  color: #808E9A;
}

.bg-fuksiy:hover {
  background-color: #FF9ADB;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-block-start: 160px;
  padding-block-end: 344px;
}

header {
  max-width: 100%;
  max-height: 721px;
  background-image: url("../images/bg-hero-gruop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-block-start: 50px;
  padding-block-end: 70px;
}

h1 {
  font-size: 40px;
  line-height: 60px;
  color: #00252e;
}

p {
  font-size: 18px;
  line-height: 27px;
  color: #00252e;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  line-height: 42px;
  color: #00252e;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-block-end: 72px;
}



.title {
  display: flex;
  max-width: 536px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}



.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 165px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  padding-inline: 60px;
}

.item-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.item-text {
  max-width: 488px;
  color: #808e9a;
}

.item-img {
  background-image: url('../images/together.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 440px;
  width: 100%;
  height: 440px;

}

.img-flowing {
  background-image: url('../images/grow_together.png');
}

.img-user {
  background-image: url('../images/grow_user.png');
}

footer {
  position: relative;
  background: #00252e;
  max-width: 100%;
}
.footer-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  height: 280px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
}

.footer-top h3 {
  color: #00252e;
  font-size: 32px;
  font-weight: 600;
  line-height: 60px; /* 187.5% */
}

.footer-content {
  padding-block-start: 124px;
  padding-block-end: 64px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-block-start: 36px;
}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-info-item {
  display: flex;
  column-gap: 16px;
  max-width: 340px;
}

.footer-info-item p,
.footer-info-item span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.nav-items {
  display: flex;
  gap: 165px;
}

.nav-items ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.nav-item {
  color: #fff;
  line-height: 27px; /* 192.857% */
}

.nav-item:hover {
  text-decoration: underline;
}

.social-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 12px;
}

.social-block p {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.bg-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #dfe4f0;
  transition: color 0.3s;
}

.bg-icons svg {
  color: #dfe4f0;
  transition: color 0.3s;
}

.bg-icons:hover {
  border-color: #ff52c1;
}

.bg-icons:hover svg {
  color: #ff52c1;
}
